.margin-stats {
	&__table {
		border-collapse: separate;
		border-spacing: 0 0;
		padding-top: 10px;

		thead th {
			display: none;
		}

		th,
		td {
			vertical-align: middle !important;
		}

		td {
			padding: 0.375rem 0.5rem !important;
			color: white;
			font-size: 0.75rem;
			font-weight: 400;

			@media (max-width: 1400px) {
				padding: 0.5rem 20px !important;
			}
		}

		@media (max-width: 1400px) {
			margin-bottom: 0 !important;
		}
	}
}
