.provider {
    padding: 0;

    &__item {
        width: 100%;
        flex: 1;
        background-color: transparent;
        transition: all ease .4s;
        will-change: transform, background-color;
        border: none;
        padding: 1.5rem 1rem;
        border-radius: 12px;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &-container {
            padding: 0;
        }

        @media (max-width: 767px) {
            flex-direction: row;
            justify-content: flex-start;
            padding: 1.5rem;
        }
    }

    &__icon {
        width: 45px;
        height: 45px;
    }

    &__content {
        text-align: center;


        @media (max-width: 767px) {
            text-align: left;
        }
    }

    &__name {
        margin-bottom: 0;
        font-size: 1.125rem;
        font-weight: bold;
    }

    &__connect {
        opacity: 0;
        transform: translateY(-10px);
        display: block;
        transition: all ease .4s;
        will-change: transform, opacity;

        @media (max-width: 767px) {
            opacity: 1;
            transform: translateY(0);
        }

    }

    &__item:hover &__connect {
        opacity: 1;
        transform: translateY(0);
    }

    &__modal {

        .modal-content {
            overflow: hidden;
            border-radius: .875rem;
            box-shadow: 0 0 50px 0 rgba(82,63,105,.15);
        }
    }


}