.borrow {
	&__table {
		border-collapse: separate;
		border-spacing: 0 0;

		thead th {
			background-color: rgba(#202020, 0.1);
			color: #202020;
			font-size: 0.75rem;
			font-weight: 400;
			text-overflow: ellipsis;
			white-space: nowrap;
			min-height: 56px;
			padding: 1rem 1.5rem !important;

			.dark-mode & {
				background-color: rgba(white, 0.1);
				color: white;
			}

			&:focus {
				outline: none;
			}

			&:first-child {
				border-top-left-radius: 18px;
				border-bottom-left-radius: 18px;
			}

			&:last-child {
				border-top-right-radius: 18px;
				border-bottom-right-radius: 18px;
			}
		}

		th,
		td {
			vertical-align: middle !important;

			&:last-child {
				text-align: left;
			}
		}

		td {
			border-bottom: 1px solid rgba(#202020, 0.5) !important;
			padding: 1.25rem 1.5rem !important;

			.dark-mode & {
				border-bottom: 1px solid rgba(white, 0.5) !important;
			}
		}
	}
}
