@import "../../styles/abstracts/variables";

.feature {
	display: block;
	text-decoration: none;
	color: inherit;

	&:hover,
	&:focus,
	&:active {
		text-decoration: none;
		outline: none;
	}

	&__wrapper {
		position: relative;
		border-radius: 1.125rem;
		background-color: $modal-bg;
		padding: 60px 30px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		text-align: center;
		height: 100%;
		border: 1px solid rgba(255, 255, 255, 0.3);
		transition: all ease 0.3s;

		@media (max-width: 991px) {
			height: auto;
		}
	}

	&:hover &__wrapper,
	&:hover &__icon {
		border-color: $primary;
	}

	&__icon {
		width: 100px;
		height: 100px;
		border-radius: 100px;
		margin-bottom: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #232429;
		border: 1px solid rgba(255, 255, 255, 0.3);
		transition: all ease 0.3s;
	}

	&__title {
		font-weight: 700;
		font-size: 1.25rem;
		margin-bottom: 30px;
		color: $title;
	}

	&__desc {
		font-size: 0.875rem;
		font-weight: 500;
		color: $title;
	}
}
