@import "../../styles/abstracts/variables";

.header {
	background-color: transparent;
	min-height: 112px;

	&.navbar {
		padding-top: 0;
		padding-bottom: 0;
	}

	.navbar-brand {
		margin-right: 4px;
	}
}

.header__inner {
	min-height: 112px;
	display: flex;
	align-items: center;
	justify-content: space-between;

	@media (max-width: 1200px) {
		width: 100%;
	}
}

.header__logo {
	display: flex;
	align-items: center;
	text-decoration: none !important;
	position: relative;

	&-img {
		width: 35px;
		height: 25px;
		margin-right: 6px;
	}

	&-title {
		font-weight: bold;
		font-size: 15px;
	}
}

.header__nav {
	align-items: center;
}

.header__item {
	text-decoration: none !important;
	color: $title;
	font-weight: 500;
	font-size: 1rem;
	padding: 1rem 1.625rem;
	position: relative;

	&:hover {
		color: $overline;
	}

	&::before {
		content: "";
		position: absolute;
		bottom: 0.625rem;
		left: 1.625rem;
		right: 1.625rem;
		height: 1px;
		background-color: $primary;
		transform: scaleX(0);
		transform-origin: left center;
		transition: 0.4s ease all;
		will-change: transform;
	}

	&--active::before {
		transform: scaleX(1);
		transform-origin: right center;
	}
}
