@import "../../../styles/abstracts/variables";

.currency {
	padding: 25px 0 20px;

	@media (min-width: 576px) {
		padding: 55px 0 35px;
	}

	h2 {
		@media (max-width: 576px) {
			font-size: 1.25rem;
			font-weight: 700;
			margin-top: 0;
			margin-bottom: 20px;
		}
	}
}

.currencies {
	position: relative;
	width: 100%;
	border-collapse: collapse;
	color: $light-title;

	.dark-mode & {
		color: white;
	}
}

.table.currencies thead th {
	border-bottom: 0;
	border-top: 0;
	font-weight: 400;
	padding-bottom: 1.5rem;
	padding-top: 1.5rem;
	color: $light-title;

	.dark-mode & {
		color: white;
	}

	&:focus {
		outline: none;
	}
}

.table.currencies tbody td {
	vertical-align: middle;
	border: 1px solid #caccd2;
	border-left-width: 0;
	border-right-width: 0;
	color: white;
	cursor: pointer;
	padding: 1rem 0.75rem;

	.dark-mode & {
		border-color: rgba(255, 255, 255, 0.2);
	}
}

.coin__icon {
	margin-right: 10px;
	width: 24px;
	height: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	border-radius: 6px;
	flex-basis: 24px;

	@media (min-width: 992px) {
		border-radius: 12px;
		margin-right: 24px;
		width: 48px;
		height: 48px;
		flex-basis: 48px;
	}

	img {
		width: 18px;
		height: 18px;
		object-fit: contain;

		@media (min-width: 992px) {
			width: 36px;
			height: 36px;
		}
	}
}

.coin__symbol {
	margin-right: 0.625rem;
	font-size: 1rem;
	font-weight: 700;
	color: $light-title;

	.dark-mode & {
		color: white;
	}

	@media (min-width: 992px) {
		margin-right: 2.25rem;
		font-size: 1.125rem;
	}
}

.coin__name {
	font-weight: 500;
	font-size: 0.75rem;
	color: $light-title;

	.dark-mode & {
		color: white;
	}

	@media (min-width: 992px) {
		font-size: 1rem;
	}
}

.coin__price {
	font-size: 1rem;
	font-weight: 700;
	color: $light-title;

	.dark-mode & {
		color: white;
	}

	@media (min-width: 992px) {
		font-size: 1.25rem;
		font-weight: 500;
	}
}
