.hero {
	padding: 22.5px 0 40px;

	@media (min-width: 576px) {
		padding-top: 120px;
		padding-bottom: 80px;
	}
}

.hero__title.h1 {
	color: #fff;
	margin-bottom: 3.75rem;

	@media (max-width: 576px) {
		margin-top: 0;
		font-size: 1.875rem;
		margin-bottom: 2rem;
	}
}

.hero__desc {
	margin-bottom: 96px;

	@media (max-width: 576px) {
		font-weight: 400;
		font-size: 0.875rem;
		margin-bottom: 30px;
	}
}

.hero__concept {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.hero__image {
	position: absolute;
	z-index: 2;

	&--one {
		z-index: 10;
		position: relative;
		width: 320px;
		height: auto;
	}
}
