.market-details {
	&__table {
		border-collapse: separate;
		border-spacing: 0 0;

		thead th {
			background-color: transparent;
			color: #202020;
			font-size: 0.75rem;
			font-weight: 400;
			text-overflow: ellipsis;
			white-space: nowrap;
			padding: 0 0.375rem 0 0 !important;

			.dark-mode & {
				color: white;
			}

			&:focus {
				outline: none;
			}

			&:first-child {
				border-top-left-radius: 12px;
				border-bottom-left-radius: 12px;
			}

			&:last-child {
				border-top-right-radius: 12px;
				border-bottom-right-radius: 12px;
				padding-right: 0 !important;
			}
		}

		th,
		td {
			vertical-align: middle !important;
		}

		td {
			padding: 0.625rem 0 !important;
			color: white;
			font-size: 0.75rem;
			font-weight: 400;
		}
	}
}
