.tokensets__table {
	position: relative;
	width: 100%;
	border-collapse: collapse;
	color: white;
}

.table.tokensets__table thead th {
	border-bottom: 0;
	border-top: 0;
	color: #202020;
	font-weight: 400;
	padding-bottom: 1.5rem;
	padding-top: 1.5rem;
	font-size: 0.875rem;

	.dark-mode & {
		color: white;
	}

	&:focus {
		outline: none;
	}
}

.table.tokensets__table tbody td {
	vertical-align: middle;
	border: 1px solid #caccd2;
	border-left-width: 0;
	border-right-width: 0;
	color: #202020;
	cursor: pointer;
	padding: 1rem 0.75rem;

	.dark-mode & {
		color: white;
		border-color: rgba(255, 255, 255, 0.2);
	}
}
