@media (min-width: 1200px) {
	.container,
	.container-sm,
	.container-md,
	.container-lg,
	.container-xl {
		max-width: 1210px !important;
	}
}

.container {
	padding: 0 30px;
}

@media (min-width: 576px) {
	.container,
	.container-sm,
	.container-md,
	.container-lg,
	.container-xl {
		padding: 0 15px;
	}
}
